<div class="container">
  <br>
  <h1>Notes Manager Thingey</h1>
  <center>

<!-- Error:: If Any -->
  <br>
  <% if @error_message %>
    <%= @error_message %>
    <br>
  <% end %>
  <br>

<!-- Create a note -->
  <h3>:: Create a Note ::</h3>
  <div class="container_sml">

    <%= erb :_create_note %>

    <br>
  </div>
  </center>

<!-- Viewing all Notes -->
  <% if @notes %>
    <div class="notes">
    <% @notes.each do |note| %>
      <span><h4><%= note.title %></h4>

      <div class="time">
       | <%= note.created_at.strftime("%H minutes and %M seconds ago") %>
       </div>
      <span>
      <p>"<%= note.message %>"<p>


      <!-- Button to Update Note -->
        <a href="/notes/<%= note.id %>/edit">
          <button type="button">Update</button>
        </a> -
      <!-- Button to Delete Button -->
        <a href="/notes/<%= note.id %>/delete">
          <button type="button">Delete</button>
        </a>
      </span>
      <br><hr>

    <% end %>
    </div>
  <% end %>

</div>